.harga-per-pax {
    &__label {
        font-weight: bold;
        font-size: 0.875rem !important;
        line-height: 1.0625rem !important;
        margin: 0 !important;
        margin-bottom: 0.6875rem !important;
    }

    &__container {
        background-color: #F8F8F8;
        border-radius: 0.625rem;
        padding: 0.75rem 1rem 0.875rem;
    }

    &__price-range {
        justify-content: flex-start !important;
        padding: 0px !important;
        padding-bottom: 0.5625rem !important;

        & p {
            color: black;
            font-size: 0.75rem !important;
            line-height: 0.875rem !important;
            margin: 0px;
        }
    }

    &__slider-container {
        & .rc-slider-handle {
            width: 1.25rem !important;
            height: 1.25rem !important;
            border: 0.125rem solid white !important;
            background-color: #CB9F76 !important;
            margin-top: -0.5rem !important;
        }

        & .rc-slider-rail {
            height: 0.25rem !important;
        }

        & .rc-slider-track {
            height: 0.25rem !important;
        }
    }
}