@import "src/styles/Include";

.carousel-decorate{
  img{
    height: 100%;
  }
}

.slick-prev::before, .slick-next::before {
  color: #c9c9c9 !important;
  //background-color: #d9d9d9;
  //padding-left: 0.35em;
  //padding-right: 0.35em;
  //padding-top: 0.1em;
  //padding-bottom: 0.1em;
  //border-radius: 50%;
}

.slick-prev::before {
  font-family: FontAwesome;
  content: "\f104";
  font-size: 15px;
}  
.slick-next::before {
  font-family: FontAwesome;
  content:  "\f105";
  font-size: 15px;
}    

.slick-prev {
  left: 0;
}

.horizontal-slider{
  width: 100% ;
  margin: auto;
  .ellipsis {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .card{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0.5em;
    height: 100%;
    img{
      height: 10em;
    }
  }

  .slick-slider{
    .slick-arrow .slick-prev{
      background-color: darkslateblue;
    }
  }
}

@include media-breakpoint-down(xs) {
  .horizontal-slider{
    .for-desktop{
      display: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  .horizontal-slider{
    .card{
      img{
        height: 6em;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .horizontal-slider{
    .card{
      img{
        height: 6em;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .horizontal-slider{
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .horizontal-slider{
    .for-mobile{
      display: none;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .horizontal-slider{
    .card{
      img{
        height: 15em;
      }
    }
  }
}

